# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# poetry
poetry.lock

# Environments
.venv
**/.env

# Torch files
*.pt

# Movies and videos
**/data/*
*.jpg
*.MOV
*.mp4
*.png

